#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if ARCH_CHIP_QEMU_LA
comment "QEMU LA Options"

choice
	prompt "QEMU Chip Selection"
	default ARCH_CHIP_QEMU_LA64

config ARCH_CHIP_QEMU_LA32
	bool "QEMU LA32"
	select ARCH_LA32

config ARCH_CHIP_QEMU_LA64
	bool "QEMU LA64"
	select ARCH_LA64

endchoice

config ARCH_CHIP_QEMU_ARCH_LA_ISA_NATIVE
	bool "Selects the CPU at compilation time"
	default n
    select ARCH_LA_ISA_NATIVE

config ARCH_CHIP_QEMU_LA_ISA_LOONGARCH64
    bool "A generic CPU with 64-bit extensions"
    default y
    select ARCH_LA_ISA_LOONGARCH64

config ARCH_CHIP_QEMU_LA_ISA_LBT_LSX_LAXS_LVZ
    bool "Binary Translation Instructions, SIMD, Advanced SIMD and Virtualization Instructions"
    default n
    select ARCH_LA_ISA_LBT_LSX_LASX_LVZ
    ---help---
        Extension for Loongson Binary Translation Instructions,
        SIMD Instructions, Advanced SIMD Instructions and Virtualization Instructions

endif
